<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Hello to You!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/github-com-twbs-bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.8.1/font/bootstrap-icons.css}">
</head>
<body>

<div class="container">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <i class="bi-shop" style="font-size: 2em; margin-right: 0.5em;"></i>
                <span class="fs-4">Greetings... to You!</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/?name=Person" class="nav-link active" aria-current="page">Home</a>
                </li>
            </ul>
        </header>
    </div>

    <div class="container">
        <p class="fs-5 col-md-8">Let our creepy robot greet you in a familiar, yet inhuman manner...</p>

        <h2><p th:text="'Hello, ' + ${name} + '!'"/></h2>
    </div>
</div>

<script th:src="@{/webjars/github-com-twbs-bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</body>
</html>